.App {
  text-align: center;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
